{% include 'layout/header.html' %}

{% include 'layout/sidebar.html' %}

<!-- Ini untuk Content -->
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Tambah Data Category</h1>
    </div>

    <div class="section-body">

      <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card">
            <form method="POST" action="">
              <div class="card-body">
                <div class="form-group">
                  <label>Category Name</label>
                  <input type="text" class="form-control" name="form_name" required="">
                </div>
              <div class="card-footer text-left">
                <input type="submit" value="Submit" class="btn btn-primary"></input>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!-- Ini untuk Tutup Content -->

{% include 'layout/footer.html' %}