<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="asset/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/owlcarousel/assets/owl.carousel.min.css">

  <link rel="stylesheet" href="css/about_us.css">
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #f9f9f9;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kumpulan">
        <span class="fa fa-bars text-black"></span>
      </button>

      <div class="collapse navbar-collapse text-light" id="kumpulan">

        <ul class="navbar-nav mx-auto">


          <li class="nav-item" style="margin-right: 15px;">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <!-- Tentang Kami -->
          <li class="nav-item" style="margin-right: 15px;">
            <a href="about_us.html" class="nav-link">About Us</a>
          </li>
          <!-- Truk Kami -->
          <li class="nav-item" style="margin-right: 15px;">
            <a href="menu.html" class="nav-link">Menu</a>
          </li>
          <!-- Lokasi -->
          <li class="nav-item">
            <a href="location.html" class="nav-link">Location</a>
          </li>



        </ul>

        <div class=" me-0">
          <a href="" class="position-relative me-4 my-auto">
            <i class="fa fa-shopping-bag fa-2x" style="color: var(--bs-primary);"></i>
            <!-- <span
              class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center bg-warning text-dark px-1"
              style="top: -5px; left: 15px; height: 20px; min-width: 20px;">
              4
            </span> -->
          </a>
          <a href="" class="my-auto me-3">
            <i class="fas fa-users fa-2x" style="color: var(--bs-primary);"></i>
          </a>

        </div>

      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->



  <!-- WEBSITE NAME -->
  <section id="website-name" style="margin-top: 62px; margin-bottom: 100px;">
    <div class="row">
      <!-- <img src="img/title.png" class="img-fluid"> -->
      <div class="text-center" style="font-weight: bold; font-size: 100px; background-color: #ff2323; height: auto; ">
        <h1 style="font-size: 95px; font-weight: bold; padding-top: 50px; color: white;">
          Mighty Fresh Ice Cream
        </h1>
        <h2 style="padding-bottom: 70px; color: white;">
          Since 2023
          </h3>
      </div>
    </div>
    <!-- Row End -->
  </section>
  <!-- WEBSITE NAME END -->


  <!-- ABOUT US -->
  <section id="about_us_section" style="margin-bottom: 60px;">
    <div class="container">
      <div class="row">
        <!-- Video -->
        <div class="col-md-12 col-lg-12 col-xl-6">
          <div class="contianer" style="margin-bottom: 50px;">
            <div class="row">
              <video controls autoplay>
                <source src="video/Mighty.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <!-- Video End -->

        <!-- Text -->
        <div class="col-md-12 col-lg-12 col-xl-6">
          <h1 class="text-center" style="color: #ff0000; font-size: 65px; font-weight: bold; font-style: italic;">
            About Us
          </h1>
          <p style="text-align: justify;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.<br><br>
            It was popularised in the 1960s with the release
            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <!-- Text End -->
      </div>
      <!-- Row End -->
    </div>
    <!-- Container End -->
  </section>
  <!-- ABOUT US END -->


  <!-- FOOTER -->
  <section id="footer_section">
    <div class="row" style="background-color: #f9f9f9; height: 50px;">
      <div class="text-center" style="padding-top: 15px;">
        <label style="color: #fd4545;">
          &copy Copyright Mighty Fresh Ice Cream. All Rights Reserved.
        </label>
      </div>
    </div>
  </section>
  <!-- FOOTER END -->



  <!-- Script -->
  <script src="asset/js/bootstrap.bundle.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
</body>

</html>