<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cart</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='frontend/asset/bootstrap/bootstrap.min.css') }}">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='frontend/lib/owlcarousel/assets/owl.carousel.min.css') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='frontend/style.css') }}">
</head>

<body>

	<!-- NavBar Start -->
  {% include 'frontend/navbar.html' %}
	<!-- Navbar End -->
	

	<!-- Cart Page Start -->
	<div class="container-fluid py-5">
		<div class="container py-5">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Products</th>
							<th scope="col">Name</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						{% for row in data_cart %}
						<tr>
							<td scope="row">
								<div class="d-flex align-items-center">
									<img src="{{url_for('static', filename='uploads/PNG/' + row[8] )}}" class="img-fluid me-5 rounded-circle"
										style="width: 120px; height: 200px;" alt="">
								</div>
							</td>
							<td>
								<p class="mb-0 mt-4">{{row[4]}}</p>
							</td>
							<td>
								<p class="mb-0 mt-4">{{row[5]}}</p>
							</td>
							<td>
								<div class="input-group quantity mt-4" style="width: 100px;">
									<form method="POST" action="/update_cart">
										<input type="hidden" name="form_id_cart" id="" value="{{row[0]}}">
										<input type="hidden" name="form_id_product" id="" value="{{row[2]}}">
										<input type="hidden" name="form_price" id="" value="{{row[5]}}">
										<input type="hidden" name="form_qty" id="" value="{{row[1]}}">
										<input type="hidden" name="form_id_customer" value="{{session['id_customer']}}">
										<!-- Minus Button -->
										<div class="input-group-btn">
											<!-- <button class="btn btn-sm btn-minus rounded-circle bg-light border">
												<i class="fa fa-minus"></i>
											</button> -->
											<button type="submit" name="minus" value="" class="btn btn-sm bg-light border">
												<i class="fa fa-minus"></i>
											</button>
										</div>

										<input type="text" class="form-control form-control-sm text-center border-0" value="{{row[1]}}" disabled>
										
										<!-- Add Button -->
										<div class="input-group-btn">
											<!-- <button class="btn btn-sm btn-plus rounded-circle bg-light border">
												<i class="fa fa-plus"></i>
											</button> -->
											<button type="submit" name="plus" value="" class="btn btn-sm bg-light border">
												<i class="fa fa-plus"></i>
											</button>
										</div>
										
									</form>
								</div>
							</td>

							<td>
								<!-- Delete Cart -->
								<a href="/delete_cart/{{row[0]}}" class="btn btn-md rounded-circle bg-light border mt-4">
									<i class="fa fa-times text-danger"></i>
								</a>

								<!-- <button class="btn btn-md rounded-circle bg-light border mt-4">
									<i class="fa fa-times text-danger"></i>
								</button> -->
							</td>

						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row g-4 justify-content-end mt-5">
				<div class="col-8"></div>
				<div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
					<div class="bg-light rounded">
						<div class="p-4">
							<h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
						</div>
						<div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
							<h5 class="mb-0 ps-4 me-4">Total</h5>
							<p class="mb-0 pe-4">{{total_price}}</p>
						</div>
						
						<a href="/checkout/{{session.id_customer}}" class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4">Proceed Checkout</a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cart Page End -->


	<!-- Footer -->
	<section id="footer_section">
    <div class="row" style="background-color: #f9f9f9; height: 50px;">
      <div class="text-center" style="padding-top: 15px;">
        <label style="color: #fd4545;">
          &copy Copyright Mighty Fresh Ice Cream. All Rights Reserved.
        </label>
      </div>
    </div>
  </section>


	<!-- Back to Top -->
	<a href="#" class="btn btn-secondary border-3 border-secondary rounded-circle back-to-top">
		<i class="fa fa-arrow-up"></i>
	</a>


	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='frontend/asset/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='frontend/lib/owlcarousel/owl.carousel.min.js') }}"></script>

	<script>
		(function ($) {
			"use strict";
			$(".testimonial-carousel").owlCarousel({
				autoplay: true,
				smartSpeed: 2000,
				center: false,
				dots: true,
				loop: true,
				margin: 25,
				nav: true,
				navText: [
					'<i class="fas fa-arrow-left"></i>',
					'<i class="fas fa-arrow-right"></i>'
				],
				responsiveClass: true,
				responsive: {
					0: {
						items: 1
					},
					576: {
						items: 1
					},
					768: {
						items: 1
					},
					992: {
						items: 2
					},
					1200: {
						items: 2
					}
				}
			});


		})(jQuery);
	</script>


</body>

</html>