<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Location</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="asset/css/bootstrap.min.css">
  <link rel="stylesheet" href="asset/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="lib/owlcarousel/assets/owl.carousel.min.css">

  <link rel="stylesheet" href="css/location.css">
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #f9f9f9;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kumpulan">
        <span class="fa fa-bars text-black"></span>
      </button>

      <div class="collapse navbar-collapse text-light" id="kumpulan">

        <ul class="navbar-nav mx-auto">


          <li class="nav-item" style="margin-right: 15px;">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <!-- Tentang Kami -->
          <li class="nav-item" style="margin-right: 15px;">
            <a href="about_us.html" class="nav-link">About Us</a>
          </li>
          <!-- Truk Kami -->
          <li class="nav-item" style="margin-right: 15px;">
            <a href="menu.html" class="nav-link">Menu</a>
          </li>
          <!-- Lokasi -->
          <li class="nav-item">
            <a href="location.html" class="nav-link">Location</a>
          </li>



        </ul>

        <div class=" me-0">
          <a href="" class="position-relative me-4 my-auto">
            <i class="fa fa-shopping-bag fa-2x" style="color: var(--bs-primary);"></i>
            <!-- <span
            class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center bg-warning text-dark px-1"
            style="top: -5px; left: 15px; height: 20px; min-width: 20px;">
            4
          </span> -->
          </a>
          <a href="" class="my-auto me-3">
            <i class="fas fa-users fa-2x" style="color: var(--bs-primary);"></i>
          </a>

        </div>

      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->


  <!-- WEBSITE NAME -->
  <section id="website-name" style="margin-top: 62px;">
    <div class="row">
      <!-- <img src="img/title.png" class="img-fluid"> -->
      <div class="text-center" style="font-weight: bold; font-size: 100px; background-color: #ff2323; height: auto; ">
        <h1 style="font-size: 95px; font-weight: bold; padding-top: 50px; color: white;">
          Mighty Fresh Ice Cream
        </h1>
        <h3 style="padding-bottom: 70px; color: white;">
          Since 2023
        </h3>
      </div>
    </div>
    <!-- Row End -->
  </section>
  <!-- WEBSITE NAME END -->


  <!-- LOCATION -->
  <section id="location_section" style="margin-top: 70px; margin-bottom: 70px;">
    <div class="container">
      <div class="row">
        <!-- Title -->
        <h1 class="text-center"
          style="color: #ff0000; font-size: 65px; font-weight: bold; font-style: italic; margin-bottom: 20px;">
          Location
        </h1>

        <div class="row justify-content-center">
          <!-- Alamat -->
          <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="width: 400px;">
            <h2>Address:</h2>
            <p>
              Jl. Brigjend Slamet Riadi No.152 A, Oro-oro Dowo, Kec. Klojen, Kota Malang, Jawa Timur 65119
            </p>
          </div>
          <!-- Open Hours -->
          <div class="col-md-6 col-lg-6 col-xl-6 text-center" style="width: 400px;">
            <h2>Open Hours:</h2>
            <label>From Monday - Sunday</label><br>
            <label>Open: 11:00AM</label> |
            <label>Closed: 9:00PM</label>
          </div>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15805.369315987668!2d112.6271316!3d-7.
          9635298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd629338448c257%3A0x90241f07559c3471!2sMighty%20Fresh%20Ice%
          20Cream!5e0!3m2!1sid!2sid!4v1709864294744!5m2!1sid!2sid" width="600" height="450" style="border:0;"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
    </div>
  </section>
  <!-- LOCATION END -->


  <!-- FOOTER -->
  <section id="footer_section">
    <div class="row" style="background-color: #f9f9f9; height: 50px;">
      <div class="text-center" style="padding-top: 15px;">
        <label style="color: #fd4545;">
          &copy Copyright Mighty Fresh Ice Cream. All Rights Reserved.
        </label>
      </div>
    </div>
  </section>
  <!-- FOOTER END -->

  <!-- Script -->
  <script src="asset/js/bootstrap.bundle.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
</body>

</html>