<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="#">FRUITABLES ADMIN</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="#">FTA</a>
    </div>
    <ul class="sidebar-menu">
      <li><a class="nav-link" href="/dashboard"><i class="fa fa-desktop"></i> <span>Dashboard</span></a></li>
      <li><a class="nav-link" href="{{ url_for('user')}}"><i class="fa fa-users"></i> <span>Users</span></a></li>
      <li><a class="nav-link" href="{{ url_for('transaction')}}"><i class="fa fa-shopping-cart"></i> <span>Sales Transaction</span></a></li>
      <li><a class="nav-link" href="{{ url_for('payment')}}"><i class="fa fa-credit-card"></i> <span>Payments</span></a></li>
      <li><a class="nav-link" href="{{ url_for('earnings')}}"><i class="fa fa-money-bill"></i> <span>Earnings</span></a></li>
    </ul>
  </aside>
</div>
